@use "colors";
@use "typography";

html,
body {
	height: 100%;
}

body {
	background: colors.$background-secondary;
	color: colors.$text;

	#page-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}

a {
	color: currentColor;
	text-decoration: none;
	border-bottom: 1px dotted;

	&:focus,
	&:hover {
		border-bottom: 1px solid;
		text-decoration: none;
	}
}

acronym {
	text-decoration: none;
}
