@use "colors";

@font-face {
	font-family: "Viga";
	src: url(./assets/fonts/Viga/Viga-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Thin.ttf);
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf);
	font-weight: 200;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Light.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Black.ttf);
	font-weight: 900;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-ThinItalic.ttf);
	font-weight: 100;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf);
	font-weight: 200;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-Italic.ttf);
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf);
	font-weight: 800;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat/static/Montserrat-BlackItalic.ttf);
	font-weight: 900;
	font-style: italic;
	font-display: fallback;
}

$font-headings: "Viga", sans-serif;
$font-text: "Montserrat", sans-serif;

body {
	font-family: $font-text;
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.75;
	color: colors.$text;

	a {
		text-decoration: none;
		border-bottom: 1px dotted;

		&:focus,
		&:hover {
			border-bottom: 1px solid;
			text-decoration: none;
		}
	}

	abbr[title] {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.875em;
}
