@use "../base/colors";
@use "../base/typography";

#site-footer {
	width: 100%;
	background-color: colors.$background;
	z-index: 10;
	height: 60px;

	.footer-inner {
		margin: auto;
		max-width: 900px;
		padding: 20px;
		font-size: 15px;

		.footer-menu {
			display: inline;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline;

				&::after {
					content: " \2022 ";
				}
			}
		}

		.icon-heart {
			background: url("assets/images/heart-solid.svg") no-repeat center center;
			display: inline-block;
			filter: invert(19%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(94%) contrast(92%);
			fill: #323232;
			height: 12px;
			width: 12px;
		}
	}
}
