@use "../base/colors";
@use "../base/typography";

main {
	background-color: colors.$background;
	color: colors.$text;
	flex: 1;

	.main-inner {
		display: flex;
		flex-direction: column;
		padding: 50px 20px;
		margin: auto;
		max-width: 900px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: colors.$text;
		}

		a {
			color: colors.$text;
		}

		.main-content {
			flex: 1;
		}

		.main-sidebar {
			margin-left: 0;
			padding-left: 0;
			width: 100%;
		}
	}

	@media screen and (min-width: 768px) {
		.main-inner {
			flex-direction: row;

			.main-sidebar {
				border-left: 1px solid lighten(colors.$text, 50%);
				margin-left: 20px;
				padding-left: 20px;
				width: 250px;

				h2 {
					font-size: 20px;
				}
			}
		}
	}
}
