@use "../base/colors";
@use "../base/typography";

main#search {
	background-color: colors.$background;
	color: colors.$text;

	.main-inner {
		flex-direction: column;
	}

	@media screen and (min-width: 768px) {
	}
}
