@use "../base/breakpoints";
@use "../base/colors";

.post-type-archive-cats {
	.main-content {
		article {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
			margin: 0 auto;

			@media (min-width: breakpoints.$breakpoint-md) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media (min-width: breakpoints.$breakpoint-lg) {
				grid-template-columns: repeat(4, 1fr);
			}

			a {
				display: block;
				background-color: colors.$primary;
				border-bottom: none;
				text-align: center;
				width: 100%;
				aspect-ratio: 1;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
				}

				h2 {
					margin: 0;
					padding: 0.5rem;
					font-size: 1.2rem;
				}
			}
		}
	}
}

.single-cats {
	.entry-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		.notes {
			padding: 8px;
			margin-top: 1rem;
			text-wrap: balance;
		}

		.button {
			padding: 8px;
			margin-top: 1rem;
			text-align: center;
			background-color: colors.$primary;
			display: block;
			border: none;
		}
	}
}
